Source: libosmosdr
Section: libs
Priority: optional
Maintainer: A. Maitland Bottoms <bottoms@debian.org>
Build-Depends: cmake,
               debhelper-compat (= 13),
               libusb-1.0-0-dev,
               pkg-config
Standards-Version: 4.6.2
Homepage: https://osmocom.org/projects/osmosdr
Rules-Requires-Root: no
Vcs-Browser: https://salsa.debian.org/bottoms/libosmosdr/
Vcs-Git: https://salsa.debian.org/bottoms/pkg-libosmosdr.git

Package: libosmosdr-dev
Section: libdevel
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: libosmosdr0 (= ${binary:Version}), ${misc:Depends}
Description: Software defined radio support for OsmoSDR hardware (development files)
 OsmoSDR is a 100% Free Software based small form-factor inexpensive
 SDR (Software Defined Radio) project.
 .
 The hardware part of OsmoSDR brings information from an antenna connector
 to a USB plug.
 .
 This package is the software that provides control of the USB hardware
 and an API to pass data to software defined radio applications on the host.
 .
 This package contains development files.

Package: libosmosdr0
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Multi-Arch: same
Description: Software defined radio support for OsmoSDR hardware (library)
 OsmoSDR is a 100% Free Software based small form-factor inexpensive
 SDR (Software Defined Radio) project.
 .
 The hardware part of OsmoSDR brings information from an antenna connector
 to a USB plug.
 .
 This package is the software that provides control of the USB hardware
 and an API to pass data to software defined radio applications on the host.
 .
 This package contains the shared library.

Package: osmo-sdr
Section: comm
Architecture: any
Depends: libosmosdr0 (= ${binary:Version}), ${misc:Depends}, ${shlibs:Depends}
Description: Software defined radio support for OsmoSDR hardware (tools)
 OsmoSDR is a 100% Free Software based small form-factor inexpensive
 SDR (Software Defined Radio) project.
 .
 The hardware part of OsmoSDR brings information from an antenna connector
 to a USB plug.
 .
 This package is the software that provides control of the USB hardware
 and an API to pass data to software defined radio applications on the host.
 .
 This package contains a set of command line utilities:
